@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background-color: white;
    background-image: url("/public/images/background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}